@page "/settings"
@using EnigmaModel
@using System.ComponentModel.DataAnnotations
@inject IEnigmaService enigmaService
@rendermode InteractiveAuto

<PageTitle>Engima Encryption</PageTitle>


<h1 class="text-center fw-bold text-light">Settings</h1>
<h2 class="text-light fw-bold">Rotars:</h2>
<p class="text-light">RotarI: [I, B, L, E, S, K, C, O, T, Z, N, T, O, W, Y, H, X, V, J, Q, A, E, B, R, G, L] </p>
<p class="text-light">RotarII: [E, B, O, H, C, L, R, O, J, A, S, M, Q, Y, X, U, I, Z, W, T, G, V, K, D, N, E]</p>
<p class="text-light">RotarIII: [O, D, Y, T, N, G, W, R, B, U, E, L, S, A, F, K, R, I, N, P, A, Y, V, K, C, I]</p>
<p class="text-light">RotarVI: [Y, N, T, D, R, X, C, K, E, V, O, B, H, P, W, G, L, U, A, K, F, M, I, Q, A, T]</p>
<p class="text-light">RotarV: [V, Z, I, J, L, M, N, X, F, Y, K, W, G, H, O, P, Q, R, S, T, U, A, B, C, D, E]</p>

<h2 class="fw-bold text-light">Options:</h2>
<div>
    <p class="text-light fw-bold">Selected Rotars:</p>
    <p class="text-light">First Rotar: </p>
    <p class="text-light">Second Rotar: </p>
    <p class="text-light">Third Rotar: </p>

</div>
@code {

}
