@page "/settings"
@using EnigmaModel
@using System.ComponentModel.DataAnnotations
@inject IEnigmaService enigmaService
@rendermode InteractiveAuto

<PageTitle>Engima Encryption</PageTitle>


<h1 class="text-center fw-bold text-light">Settings</h1>

@code {

}
